/* body and .container styles already handled by Bootstrap */
body {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

/* Apply styles to the <header> element */
header {
  background-color: #6199ad;
  color: #fefbf6;
  padding: 15px;
  text-align: center;
}

/* Style the heading inside the header */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Style the paragraph inside the header */
header p {
  font-size: 1.5rem;
}

header img {
  max-width: 200px;
  height: auto;
}

/* Style the search container to display inputs in a row */
/* .mrt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
} */
.green-line {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
.green-line:hover {
  background-color: #45a049; /* Darker Green */
}
.circle-line {
  background-color: #faab18; /* Orange */
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
.circle-line:hover {
  background-color: #e09915; /* Darker Orange */
}

/* Style Google map */
#google-map {
  border: 1px solid #ccc;
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

/* Style location cards container */
.location-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Style location cards */
.location-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
  max-width: 300px;
  height: 460px;
}

.location-card-content {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #3c3633;
}

.location-card-content-small {
  font-size: 0.9em;
}

.location-image {
  width: 280px;
  border-radius: 20px;
  height: auto;
}

/* CSS for the clickable link to Google Maps */
.view-map-link {
  font-size: 0.9em;
  color: #5ab2ff;
  text-decoration: underline;
}

.view-map-link:hover {
  color: #4285f4; /* Darker tone for hover */
}

/* Bottom content */
.bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

/* location category */
.location-category {
  font-weight: 500;
  border-radius: 10px;
  padding: 4px 4px;
  display: inline-block;
  border: 0.8px solid #647d87;
}

.show-food-options-btn {
  color: white;
  background-color: #dc7264;
  border: none;
  border-radius: 20px;
  padding: 6px 10px;
  margin-bottom: 15px;
}

.show-food-options-btn:hover {
  background-color: #b0584e;
  color: black;
}

/* Style filter */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-label {
  font-weight: bold;
  margin-right: 8px;
}

#establishment-type-filter,
#cuisine-type-filter {
  text-align: center;
  width: 200px;
  margin-left: 8px;
  margin-right: 16px;
  border: 1px solid #ccc;
}

label {
  font-weight: bold;
  margin-right: 8px;
}

/* Style random-food button */
.random-food-btn {
  color: white;
  background-color: #dc7264;
  border: none;
  border-radius: 20px;
  padding: 8px 10px;
  cursor: pointer;
}

.random-food-btn:hover {
  background-color: #b0584e;
  color: black;
}

/* Style food option cards */
.food-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.food-option-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 8px;
  max-width: 300px;
  text-align: center;
  line-height: 1;
  overflow: hidden;
}

.food-option-card-header {
  color: #fefbf6;
  background-color: #6199ad;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px -20px 0 -20px;
}

/* Style food option card content */
.food-option-card-body {
  font-size: smaller;
  padding: 8px;
}

.info-window-content {
  font-weight: 400;
  line-height: 1.5;
}

.disclaimer {
  background-color: #fbf9f1;
  color: #555;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 20px;
}

.disclaimer p {
  margin: 0;
}
